@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/****** General ***********/
*,
html {
	font-family: 'Raleway', sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--main-color: #0065fc;
	--main-bg-color: #f2f2f2;
	--filter-bg-color: #deebff;
}

.fa-solid {
	color: var(--main-color);
}

body {
	display: flex;
	justify-content: center;
}

.main-container {
	width: 100%;
	max-width: 1440px;
	padding: 0 50px;
}

a {
	color: inherit;
	text-decoration: none;
}
li {
	list-style-type: none;
}
.section-title {
	margin: 0;
	font-size: 1.375rem;
}

.card {
	background-color: white;
	border-radius: 20px;
	padding: 5px;
	filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
	object-fit: cover;
}

.card-title {
	font-size: 1rem;
}

.euro {
	font-weight: 700;
}

.neutral-star {
	color: var(--main-bg-color);
}

/****** Header ********/
.main-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 4.938em;
}

.booki-logo {
	display: flex;
	align-items: center;
}
.header-logo {
	width: 3.818em;
	height: 1.188em;
}

.header-nav {
	display: flex;
	justify-content: space-between;
	height: inherit;
	width: 15.25em;
}

.nav-link-wrapper {
	display: flex;
	align-items: flex-end;
	height: 2.1875em;
	border-top: 2px solid white;
}

.nav-link-wrapper:hover {
	border-top: 2px solid var(--main-color);
	color: var(--main-color);
}

.nav-link-wrapper a {
	font-size: 1rem;
	margin: 0 auto;
}
/****** Form and Filtres ******/
/***** Form *****/
.search-title {
	line-height: 2em;
}

.search-title-small {
	font-size: 1rem;
}

.search-form {
	border-radius: 15px;
	max-width: 23.5625em;
	display: flex;
	margin: 38px 0;
}
.search-bar {
	border: 1px solid var(--main-bg-color);
	border-right: none;
	height: 3.0625rem;
	max-width: 12.25em;
	min-width: 52%;
	font-size: 1.125rem;
	text-align: center;
	font-weight: bold;
}

.search-bar::placeholder {
	color: black;
}
.location-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 15%;
	padding: 1em;
	background-color: var(--main-bg-color);
	color: black;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}
.submit-search {
	border: 1px solid var(--main-color);
	background-color: var(--main-color);
	color: #fff;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	font-size: 1.1rem;
	font-weight: bold;
	width: 48%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.search-btn-image {
	display: none;
}
/****** Filtres ******/

.filtres {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	max-width: 47.375rem;
	margin-bottom: 38px;
}

.filtres-title {
	font-size: 1.125rem;
	font-weight: bold;
}

.filtre {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 50px;
	border: 2px solid #d9d9d9;
	border-radius: 25px;
	font-weight: bold;
	font-size: 1rem;
	padding: 0 16px;
	cursor: pointer;
}
.filtres .filtre:nth-child(3) {
	padding-left: 8px;
	padding-right: 16px;
}
.filtre > i {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 6.4px;
	width: 1.325em;
	height: 1.325em;
	font-size: 1.1rem;
}

.filtre:hover {
	background-color: var(--filter-bg-color);
}

/***** Infobar ******/
.infobar {
	display: flex;
	align-items: center;
	margin-bottom: 35.008px;
}

.infobar > i {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #deebff;
	border-radius: 50%;
	font-size: 0.6rem;
	min-width: 1.375rem;
	height: 1.375rem;
	margin-right: 0.688rem;
}
/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
	display: flex;
	justify-content: space-between;
}

.hebergements-and-populaires section {
	background-color: var(--main-bg-color);
	border-radius: 20px;
	padding: 1.875em;
	box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
	width: 65%;
}
.hebergements-cards {
	margin: 33px 0;
	display: grid;
	gap: 30px;
	grid-template-columns: 1fr 1fr 1fr;
}

.hebergements-cards .card-title {
	margin-top: 5px;
	margin-bottom: 4px;
	font-size: 0.9rem;
}

.hebergements-cards .card-subtitle {
	margin-bottom: 3px;
	font-size: 0.9rem;
}
.hebergements-cards .card-rating {
	margin-bottom: 5px;
}
.hebergements-cards .card-content {
	padding-left: 10px;
}
.hebergements-cards img {
	width: 100%;
	height: 124px;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}

.hebergements .afficher-plus {
	font-weight: bold;
	font-size: 1.125rem;
	cursor: pointer;
}

/****** Populaires ***********/
.populaires {
	width: 32%;
}

.populaires-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.populaires-cards .card {
	display: flex;
	margin-top: 33px;
}

.populaires-cards img {
	width: 33%;
	height: 136px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
	width: 67%;
	padding-left: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;
}

.populaires-cards .card-title {
	margin-top: 10px;
	margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
	margin: 0;
}

.populaires-cards .card-rating {
	margin-bottom: 5px;
}
/****** Activités *******/
.activites {
	margin-top: 69px;
	margin-bottom: 64px;
	padding: 0 30px;
}
.activites-title {
	margin-bottom: 38px;
}
.activites-cards {
	display: flex;
	justify-content: space-between;
}

.activites-cards .card {
	display: flex;
	flex-direction: column;
	padding: 0;
	border-radius: 20px;
	width: 23%;
	max-height: 439px;
}
.activites-cards .card img {
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	width: 100%;
	height: 86.5%;
}

.activites-cards .card-text {
	display: flex;
	align-items: center;
	height: 13%;
	padding: 0.9em;
}
/***** Footer ******/
.booki-footer {
	display: flex;
	justify-content: space-evenly;
	height: 163px;
	background-color: var(--main-bg-color);
}
.footer-section {
	width: 33.33%;
	padding-left: 20px;
	flex: 1;
}
.footer-section h2 {
	margin-top: 23px;
	margin-bottom: 3px;
	font-size: 1.125rem;
	font-weight: bold;
}

.footer-section a {
	font-size: 1rem;
	display: block;
	padding: 0.5rem 0;
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
	.hebergements-and-populaires {
		flex-direction: column;
	}

	.hebergements {
		width: 100%;
	}

	.populaires {
		width: 100%;
		margin-top: 50px;
	}

	.populaires-cards {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.populaires-cards .card {
		margin-top: 22px;
	}
	.populaires-cards a {
		width: 30%;
	}

	.populaires-cards .card-title {
		font-size: 14px;
	}

	.populaires-cards .card-subtitle {
		font-size: 13px;
	}

	.activites-cards .card {
		max-height: 270px;
		object-fit: contain;
	}
	.activites-cards .card img {
		height: 75%;
	}
	.activites-cards .card-text {
		height: 25%;
	}

	/***** Filtres ********/
	.filtres {
		flex-wrap: wrap;
		justify-content: space-between;
		max-width: 41.75em;
	}
	.filtres-title {
		margin-bottom: 25px;
		width: 100%;
	}
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
	.main-container {
		padding: 0;
	}

	/***** Header *******/
	.main-header {
		height: 115px;
		flex-direction: column;
		margin-bottom: 30.88px;
	}
	.booki-logo {
		height: 79px;
	}
	.header-nav {
		height: auto;
		width: 100%;
		align-items: center;
	}

	.header-nav .nav-link-wrapper {
		width: 50%;
		border: none;
		border-bottom: 2px solid var(--main-bg-color);
		align-items: center;
		cursor: pointer;
	}

	.header-nav .nav-link-wrapper:hover {
		border: none;
		border-bottom: 2px solid var(--main-color);
	}

	/****** Main Content *************/
	/******* Form & Filtres **********/
	.hebergement-search {
		padding: 0 1.2em;
	}
	.search-title {
		line-height: 1.2;
		margin-bottom: 0.5em;
	}
	/****** FORM *********/

	.search-form {
		width: 100%;
		position: relative;
	}
	.search-btn-txt {
		display: none;
	}
	.search-btn-image {
		display: block;
		color: white;
	}
	.search-bar {
		padding-left: 0.7em;
		border-top-right-radius: 15px;
		border-bottom-right-radius: 15px;
		text-align: left;
		min-width: 82%;
	}
	.submit-search {
		position: absolute;
		right: 0;
		height: 49px;
		border-radius: 15px;
		width: 15%;
		box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
	}
	.location-icon {
		width: 18%;
	}
	/********* Filtres *************/
	.filtres {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 30px 50px 50px;
		gap: 10px;
		max-width: 25em;
		min-width: 14em;
		margin-bottom: 2.375em;
	}
	.filtres .filtre:nth-child(3) {
		padding-right: 1.7em;
	}
	.filtre {
		width: 100%;
		padding: 0 0.2em;
		justify-content: space-evenly;
		margin: 10px 0;
	}
	.filtre i {
		margin: 0;
	}
	.filtres-title {
		margin-bottom: 10px;
		grid-column: span 2;
	}

	/***** Hebergments & Populaires **********/

	.hebergements-and-populaires section {
		padding: 1.2em;
		border-radius: 0px;
		width: 100%;
	}
	.hebergements-and-populaires section:nth-child(1) {
		background-color: white;
	}

	/******* Populaires *********/
	.populaires {
		margin-top: 0;
		border-radius: 0px;
		order: 1;
	}

	.populaires-cards {
		flex-direction: column;
		align-items: center;
	}
	.populaires-cards a {
		width: 100%;
	}
	.populaires-cards .card-title {
		padding-right: 3em;
	}
	/********* Hebergements *********/
	.hebergements {
		order: 2;
	}
	.hebergements-cards {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
	}

	/********* Activites ***********/
	.activites-cards {
		display: block;
	}
	.activites-cards .card {
		margin: 1.3em 0;
		height: 200px;
		width: 100%;
	}

	.activites-cards .card img {
		height: 70%;
	}
	.activites-cards .card-text {
		padding-left: 1em;
		height: 30%;
	}

	/******  Footer *************/

	.booki-footer {
		padding: 0 30px;
		flex-direction: column;
		justify-content: space-evenly;
		height: min-content;
		background-color: var(--main-bg-color);
	}
	.footer-section {
		width: 100%;
		padding: 0;
	}
}
